/* section for the top controls*/
#username {
float:left;

}




/* section for the rules*/
#rules {
display:none;
Background:RGBA(0,0,0,0.8)
}

/* dark theme toggle*/
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    float: right;
    width : 100px;
    height : 52px;
    background-color: purple;
    border-radius: 30px;
    border: 2px solid gray;
    
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
       
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: black;
    color:white;
    
}
       
/* hide the physical Checkbox*/
.checkbox {
    display : none;
}
body {
    flex-wrap: wrap;
    padding:10%;
    margin-top:20px;
    background-color: rgba(208, 216, 218, 0.808);
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dark-mode {
background-color: black;
color:white;
}
#game-title {

    background-color: black;
    color:white;
    font-size: xx-large;
}
#scoreboard {
font-size: xx-large;
float:right;
right: 20px;
position: absoulte;
}
#bop-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align:center;
}
#game-container{
    height: 400px;
    box-sizing: content-box; 
    display:flex;
    flex-flow: row-reverse;
    align-content: space-evenly;
    justify-content: center;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    color:darkmagenta;
    background-color: rgb(24, 46, 0);
}

#twist-it{
    height:100px;
    width:100px;
    background-color:white;
    border-radius:50%;
    text-align: center;
}


#flick-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
}

#pull-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
}
#spin-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
}
#startButton {
    color:darkmagenta;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 100px;
    margin-bottom: 20px;

}
#username {
height: 30px;
width: 150px;
margin-bottom: 20px;

}


#gamename{

    color:white;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
     }
#gamename {
 bottom:200px;
 color:white;
 font-size: large;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
align-items: center;
position:fixed;
    }
    #computer-instructions {
        
        color:white;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       align-items: center;
       position: absolute;
       bottom:20px;

    }