/* section for the top controls*/
#username {
float:left;
}
/* section for the rules*/
#rules {
display:none;
Background:RGBA(0,0,0,0.8)
}
body {
    display:flex;
    flex-wrap: wrap;
    padding:10%;
    margin-top:20px;
    background-color: rgba(208, 216, 218, 0.808);
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
}
#darkmode-toggle{
position: absolute;
top:5px;
float: right;
}
.dark-mode {
    background-color: black;
    color:white;
}
.heading {
    background-color:#837fa3;
    font-family: "liberator", "Arial";
    font-size: 60px;
    font-weight: normal;
    margin-left: 10%;
    text-transform: uppercase;
    width: 80%;
    text-shadow: -1px 0 black, 0 5px black, 5px 0 black, 0 -1px black;
}
#scoreboard {
font-size: 70%;
position: absolute;
width:25%;
height: 280px;
}
#game-variables{
width:80%;
margin-left:10%;
height: 200px;
display:block;
background-color: #837fa340;
}
#user-name{
width:50%;
height: 280px;
float:left;
}
#name{
width: 40%;
}
#user-details{
 margin-left:10%;
 margin-top: 2px;   
}
#bop-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align:center;
    font-size: x-large;
}
#game-container{
    display:none;
    width: 80%;
    margin:10%;
    box-sizing: content-box; 
    align-content: space-evenly;
    justify-content: center;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    background-color: #837fa3;
}
#twist-it{
    height:100px;
    width:100px;
    background-color:white;
    border-radius:50%;
    text-align: center;
    font-size: x-large;
}
#flick-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
    font-size:x-large;
}
#pull-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
    font-size: x-large;
}
#spin-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
    font-size: x-large;
}
#startButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 100px;
    margin-bottom: 20px;
}
#username {
    height: 30px;
    width: 150px;
    margin-bottom: 20px;
    font-size: 70%;
    margin:auto;
}
#gamename {
    bottom:200px;
    color:white;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    position:absolute;
}
#computer-instructions {
        color:white;
        font-size: 60px;
        align-items: center;
        margin-top: 120px;
        position:absolute;
        text-align: center;
        justify-self: center;
}
    #timer {
        float:left;
        width: 25%;
        height: 280px;
        accent-color: red;
}
    *{
      
      font-family:  'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}

    /* This section will look after the footer section, I am adding a footer just to make this look a little more professional as it is quite basic at present*/
   footer {
    height: 20%;
    width:100%;
    justify-content: space-around; 
    justify-content: center;
    margin-left:10%;
}
.social-networks {
    text-align:center;
    position:relative;
    display:block;
    height: 200px;

  }
  .social-networks > li {
      display:inline-block;
  }
.social-networks  i {
    font-size:160%; 
    padding:25px;
    color: #fffdfd;
    bottom:20px;
    justify-content: center; 

 }


 ul.social-networks {
position:absolute;
justify-content: space-evenly; 
align-items: center;

 }
/*  hover effect for social sites- gray on hover common on all pages  */
.fa:hover {
    color:gray;
}
/* Setting a specific color for each social media site in the footer- common on all pages*/
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 70%;
    height:25%;
    text-transform: uppercase;
    text-align: center;
}
.fa-facebook:hover {
    color:gray;
}
.fa-linkedin {
    background: #55ACEE;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
}
.fa-linkedin:hover {
    color:gray;
}
.fa-instagram-square {
    background:#bc2a8d;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
    
}
.fa-instagram-square:hover {
    color:gray;
}
.fa-github {
    background: #030303;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
    
}
.fa-github:hover {
    color:gray;
}


.fa-solid  {
    position:relative;
    margin:1%;
    border:2px;
}


#end-game-screen{
display:none;
font-size:xx-large;
text-align:center;
justify-items: center;
margin:10%;
}

fa-solid fa-lightbulb {
display:none;

}
/* This is taken from and was not written by me. https://www.viget.com/articles/easy-textures-with-css-masks/ */
.grit {
    -webkit-mask-image:("/assets/images/grit.png");
    mask-image: ("/assets/images/grit.png");
  }
 

  /* This section is dealing with the media queries to ensure the site is responsive to use on several devices/*
/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 900px) {
     #game-title {
      display: block;
      text-align: left; 
      font-size: 20px;
      font-style: normal; 
      text-shadow: none;
  }

  .social-networks {
    text-align:center;
    position:relative;
    display:block;
    height: 200px;
    left:2px;
}
}