/* section for the top controls*/
#username {
float:left;
}
/* section for the rules*/
#rules {
display:none;
Background:RGBA(0,0,0,0.8)
}
/* dark theme toggle*/
/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    background-color: purple;
    border-radius: 30px;
    border: 2px solid gray;
}
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10%;
}
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: black;
    color:white;
}
/* hide the physical Checkbox*/
.checkbox {
    display : none;
}
body {
    display:flex;
    flex-wrap: wrap;
    padding:10%;
    margin-top:20px;
    background-color: rgba(208, 216, 218, 0.808);
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
}
.dark-mode {
    background-color: black;
    color:white;
}
.heading {
  /*  top: 2px;
    width:80%;
    background-color:#2d3436;
    color:white;
    margin-left:10%;
    font-family: 'cursive', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: #5e94b6;
    font-family: "liberator";
    font-size: 60px;
    font-weight: normal;
    margin: .5em auto;
    text-transform: uppercase;
    width: 420px;



}
#scoreboard {
font-size: 70%;
float:right;
position: absoulte;
width:25%;
height: 280px;
}
#game-variables{
width:80%;
margin-left:10%;
height: 200px;
display:block;
background-color: #74b9ff;
}
#user-name{
width:50%;
height: 280px;
float:left;
}
#name{
width: 40%;
}
#user-details{
 margin-left:10%;
 margin-top: 2px;   
}
#bop-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align:center;
    font-size: x-large;
}
#game-container{
    display:none;
    width: 80%;
    margin:10%;
    box-sizing: content-box; 
    align-content: space-evenly;
    justify-content: center;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    color:darkmagenta;
    background-color: #74b9ff;
}
#twist-it{
    height:100px;
    width:100px;
    background-color:white;
    border-radius:50%;
    text-align: center;
    font-size: x-large;
}
#flick-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
    font-size:x-large;
}
#pull-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
    font-size: x-large;
}
#spin-it{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:white;
    text-align: center;
    font-size: x-large;
}
#startButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 100px;
    margin-bottom: 20px;
}
#username {
    height: 30px;
    width: 150px;
    margin-bottom: 20px;
    font-size: 70%;
    margin:auto;
}
#gamename {
    bottom:200px;
    color:white;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    position:absolute;
}
    #computer-instructions {
        color:white;
        font-size: xx-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        align-items: center;
        margin-top: 160px;
        position:absolute;
        text-align: center;
    }
    #timer {
        float:left;
        width: 25%;
        height: 280px;
        accent-color: red;
}

    *{
      
      font-family:  Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

    }

    /* This section will look after the footer section, I am adding a footer just to make this look a little more professional as it is quite basic at present*/
       /* the footer contains all of the social media links and will be on each html page*/
   /* the footer contains all of the social media links and will be on each html page*/
   footer {
    height: 20%;
    width:80%;
    justify-content: space-around; 
    justify-content: center;
    margin-left:10%;
}
.social-networks {
    text-align:center;
    position:relative;
    display:block;
    height: 200px;

  }
  .social-networks > li {
      display:inline-block;
  }
.social-networks  i {
    font-size:160%; 
    margin:40%;
    padding:15px;
    color: #fffdfd;
    bottom:20px;
    justify-content: space-evenly; 

 }


 ul.social-networks {
position:absolute;
justify-content: space-evenly; 
align-items: center;

 }
/*  hover effect for social sites- gray on hover common on all pages  */
.fa:hover {
    color:gray;
}
/* Setting a specific color for each social media site in the footer- common on all pages*/
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 70%;
    height:25%;
    text-transform: uppercase;
    text-align: center;
}
.fa-facebook:hover {
    color:gray;
}
.fa-linkedin {
    background: #55ACEE;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
}
.fa-linkedin:hover {
    color:gray;
}
.fa-instagram-square {
    background:#bc2a8d;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
    
}
.fa-instagram-square:hover {
    color:gray;
}
.fa-github {
    background: #030303;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
    
}
.fa-github:hover {
    color:gray;
}


.fa-solid  {
    position:relative;
    margin:1%;
    border:2px;
}


#end-game-screen{
display:none;
font-size:xx-large ;
border-style: dotted;
text-align:center;
justify-items: center;
margin:10%;
}

fa-solid fa-lightbulb {
display:none;

}
/* This is taken from and was not written by me. https://www.viget.com/articles/easy-textures-with-css-masks/ */
.grit {
    -webkit-mask-image: url("/assets/images/files/grit.png");
    mask-image: url("/assets/images/files/grit.png");
  }