/* section for the rules*/
#rules {
display:none;
Background:RGBA(0,0,0,0.8)
}

/* dark theme toggle*/
submit {
width: 20%;
heigth: 20%;
}

body {
    flex-wrap: wrap;
    padding:20%;
    margin-top:20px;
    background-color: rgba(208, 216, 218, 0.808);
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#game-title {

    background-color: black;
    color:white;
    text-shadow: 1em;

}

#bop-it{
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:white;
j   ustify-content: space-around;
}

#game-container{
    
    height: 400px;
    box-sizing: content-box; 
    display:flex;
    flex-flow: wrap-reverse;
    justify-content: space-evenly;
    justify-content: center;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    color:black;
}

#twist-it{
    height:200px;
    width:200px;
    background-color:white;
    border-radius:50%;
    text-align: center;
}


#flick-it{
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:white;
    text-align: center;
}

#pull-it{
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:white;
   justify-content: auto;
}
#spin-it{
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:white;
    text-align: justify;
}